section {
    border: 1px solid red;
}

nav {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22.5%;

}

/*Hero Section*/

.hero {
	background-color: #f7f7f7;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 90vh;
}